<%= content_for :head do%>
  <%= javascript_include_tag controller_name %>
<% end %>

<div class="span12">
  <h1>全部实例</h1>

  <form method="post" action="#" id="form_opt">
    <div style="margin:0;padding:0;display:inline">
      <input type="hidden" value="✓" name="utf8" />
      <input type="hidden" value="post" name="_method" />
      <input type="hidden" value="<%= form_authenticity_token %>" name="<%= request_forgery_protection_token %>" />
    </div>
    <table class="table">
      <tr>
        <th style="width: 20%">Name</th>
        <th style="width: 65%">Note</th>
        <th style="width: 5%"></th>
        <th style="width: 5%"></th>
        <th style="width: 5%"><input type="checkbox" id="cbx_check_all"/></th>
      </tr>
      <% @instances.each do |instance| %>
        <tr>
          <% if instance.normal? %>
          <td><%= link_to instance.name, instance %></td>
          <td><%= truncate instance.note, :length => 25 %></td>
          <td class="cell_center"><a href="<%= instance.url %>">访问</a></td>
          <td class="cell_center">正常</td>
          <td class="cell_center"><input type="checkbox" name="instance[]" value="<%= instance.id %>"/></td>
          <% else %>
            <td><%= instance.name %></td>
            <td><%= truncate instance.note, :length => 25 %></td>
            <td class="cell_center"></td>
            <td class="cell_center">锁定</td>
            <td class="cell_center"></td>
          <% end %>
        </tr>
      <% end %>
    </table>
    <input type="button" value="备份" class="btn" name="backup" id="btn_backup"/>
    <input type="button" value="重置密码" class="btn" name="reset_passwd" id="btn_reset_passwd"/>
    <input type="button" value="完全重置" class="btn btn-danger" name="clear" id="btn_clear"/>
  </form>
</div>
