<%= content_for :head do %>
  <%= javascript_include_tag controller_name %>
<% end %>

<div class="span12">
  <h1>全部实例</h1>

  <form method="post" action="#" id="form_opt">
    <div style="margin:0;padding:0;display:inline">
      <input type="hidden" value="✓" name="utf8"/>
      <input type="hidden" value="post" name="_method"/>
      <input type="hidden" value="<%= form_authenticity_token %>" name="<%= request_forgery_protection_token %>"/>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th style="width: 20%">实例</th>
        <th style="width: 65%">说明</th>
        <th style="width: 5%">状态</th>
        <th style="width: 5%"></th>
        <th style="width: 5%"><input type="checkbox" id="cbx_check_all"/></th>
      </tr>
      </thead>
      <tbody id="instances">
      <% @instances.each do |instance| %>
        <%= render instance %>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">
          <%= paginate @instances %>
        </td>
      </tr>
      </tfoot>
    </table>

    <input type="button" value="备份" class="btn" name="backup" id="btn_backup"/>
    <input type="button" value="重置密码" class="btn btn-warning" name="reset_passwd" id="btn_reset_passwd"/>
    <input type="button" value="完全重置" class="btn btn-danger" name="clear" id="btn_clear"/>
  </form>
</div>
