<tr>
  <% if params.has_key? :instance_id %>
    <td class="cell_center"><input type="radio" name="backup_record_id" value="<%= backup_record.id %>"/></td>
  <% end %>
  <td><%= link_to backup_record.name, backup_record %></td>
  <td><%= truncate backup_record.note, :length => 25 %></td>
  <td class="cell_center" style="color: green;"><%= backup_record.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
  <td class="cell_center"><%= link_to '下载', backup_record_fetch_path(backup_record.id), :target => '_blank' %></td>
</tr>